{% extends 'base.html.twig' %}

{% block title %}Hello SeriesController!{% endblock %}

{% block body %}
    <div class="header-row row lead align-items-center" >

            <h1 class="display-2">Serie<span class="text-danger">Collection</span></h1>

    </div>
    <div class="row">
        <div class="col-sm-4 offset-sm-4 align-items-center">
            <img class="img-fluid" src="{{ asset('/images/movies.jpg') }}" alt="serie collector" />
        </div>
    </div>


{% endblock %}
