{% extends 'base.html.twig' %}

{% block body %}
<h1 class="masthead-heading text-uppercase mb-0">
    Genre overzicht
</h1>
<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th>Naam</th>
    </tr>
    </thead>
    <tbody>
        {% for genre in genres %}
            <tr>
                <td>{{ genre.name}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
